
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif:
}

body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: #2eadd7;
    background-size: 100%;
    
}

.container{
    max-width: 600px;
    width: 100%;
    background: #fff8f8b0;
    padding: 25px 30px;
    border-radius: 9px;
    position: relative;
    color: #000000;
}


.container .title{
    display: flex;
    justify-content: center;
    position: relative;
    font-size: 24px;
    font-weight: 600;
    bottom: 10px;

    
}

.cal-info .input-box button{
    height: 41px;
    width: 100%;
    outline: none;
    padding-left: 15px;
    font-size: 14px;
    border-bottom-width: 2px;
    border: none;
    margin-top: 16px;
    background-color: rgb(0, 0, 0);
    cursor: pointer;
    letter-spacing: 1px;
    color: #000000;
    

}



input {

    height: 42px;
    width: 70%;
    border: 2px solid rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 400;
    padding-left: 11px;
    margin-top: 15px;
    display: flex;
    
    
}


.submit-button{
    width: 25%;
    height: 42px;
    background-color: #f9544c;
    color: #ffffff;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 41%;
}

a{
    text-decoration: none;
    color: #ffffff;
}